<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/assets/app.css" rel="stylesheet" type="text/css" />
    <title>Login</title>
</head>

<body>
    <div class="container">
        <section class="login">
            <div class="body">
                <h1>Login</h1>
                <form action="/register" method="POST">
                    <input type="email" placeholder="email" class="field" required>
                    <input type="password" placeholder="password" class="field" required>
                    <input type="submit" value="login" class="btn">
                </form>
                <div class="pass-link">
                    <a href="/register">Register</a>
                </div>
            </div>
    </div>
    </section>
    </div>
</body>

</html>