<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/assets/app.css" rel="stylesheet" type="text/css" />
    <title>Register</title>
</head>

<body>
    <div class="container">
        <section class="register">
            <div class="body">
                <div class="register_segment">
                    <h1>Register</h1>
                    <form action="/register" method="POST">
                        <input type="name" placeholder="name" class="field" required>
                        <input type="email" placeholder="email" class="field" required>
                        <input type="password" placeholder="password" class="field" required>
                        <div class="reg_btn">
                            <button><a href="/login">Register</a></button>
                        </div>
                    </form>
                    <div class="pass-link">
                        <a href="/login">Already registerd? Login</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>